altgraph==0.17.2
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-Cors==5.0.0
future==0.18.2
googlemaps==4.10.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
macholib==1.15.2
MarkupSafe==3.0.1
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg-pool==3.2.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.3
six==1.15.0
typing_extensions==4.11.0
urllib3==2.2.3
Werkzeug==3.0.4
zipp==3.20.2
gunicorn==23.0.0
